<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evoke.central.evokecentral">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:name=".FireApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Evoke Central"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountActivity"
            android:label="Account"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/item5"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main3Activity"
            android:label="Popular"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity
            android:name=".Registration"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".DetailActivity2"
            android:parentActivityName=".Main3Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main3Activity" />
        </activity>
        <activity
            android:name=".AccountDetails"
            android:label="Details"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity
            android:name=".Main4Activity"
            android:label="In Cinemas"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityDetail3"
            android:parentActivityName=".Main4Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main4Activity" />
        </activity>
        <activity android:name=".ReminderActivity"
            android:parentActivityName=".Main2Activity"
            android:label="Settings">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Main2Activity" />
        </activity>

        <receiver android:name=".AlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>